//
// Some Useful color Vars via http://clrs.cc/
//

//Site
$bg: #f9fafb;
$grey: #A5939F;
$dark: #615f60;
$fav: #41c2cc;
$favdark: #029aa8;
$accent: #f8f8f8;
$selection : #fff498;
$sectcolor: #f8f8f8;
$foocolor: #1f212c;


//
// Add whatever variables you would like made available to the whole app
//
