---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- navigation -->

  {% include header.html %}

  <!-- About -->

  <div class="page-title">
    <h4>.about</h4>
  </div>

  <!-- About -->

  <section class="alt-section" id="about">
    <div class="container">
      <p>I am an Indonesian research assistant in Advanced Photonics and Photovoltaics (APP) group at The Center of Solar Energy Research and Applications (GUNAM) at Middle East Technical University (METU). I am now working towards my master of science degree
        in Micro and Nanotechnology program under supervision of Asst. Prof. Selcuk Yerci. I graduated from Physics department of METU in 2014 with high honour degree. My main research evolves around the fabrication of thin crystalline silicon solar cells
        with advanced light trapping. My side projects include thin silicon peeling with stressor layer and liquid epitaxy of germanium on insulator. </p>
      <p>When I am not doing research, I enjoy tweaking my Android phone (LG G3). I often lurk around in XDA-Developers forum where you can get almost everything related to Android tweaking and development. I recently took up a hobby of web development,
        both designing and coding. This site is an example of my hobby that has turned into a live product.</p>
    </div>
  </section>

  <!-- Education -->

  <section class="wht-section" id="education">
    <div class="container">
      <h3 class="section-title">.education</h3>
      <div class="timeline_row">
        <div class="timeline_pointer">
          <div class="pointer"></div>
        </div>
        <div class="timeline_year">
          <div class="year">2014 SEPT / NOW</div>
        </div>
        <div class="timeline_school">
          <div class="school">Master of Science, Micro and Nanotechnology
            <br>
            <span>Middle East Technical University, Turkey</span>
            <br>
          </div>
        </div>
      </div>
      <div class="timeline_row">
        <div class="timeline_pointer_even">
          <div class="pointer_even"></div>
        </div>
        <div class="timeline_year_even">
          <div class="year_even">2010 SEPT / 2014 SEPT </div>
        </div>
        <div class="timeline_school_even">
          <div class="school_even">Bachelor of Science, Physics
            <br>
            <span>Middle East Technical University, Turkey</span>
            <br>
          </div>
        </div>
      </div>

      <div class="timeline_row">
        <div class="timeline_pointer">
          <div class="pointer"></div>
        </div>
        <div class="timeline_year">
          <div class="year">2007 JUN / 2010 JUN</div>
        </div>
        <div class="timeline_school">
          <div class="school">High School
            <br>
            <span>SMA Pribadi Bandung, Indonesia</span>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Experience -->

  <section class="alt-section" id="experience">
    <div class="experience-title">
      <h3 class="section-title">.experience</h3>
    </div>
    <div class="experience-container">
      <div class="experience-unit">
        <h3 class="experience-unit-title">Research Assistant</h3>
        <h5 class="experience-unit-place">GUNAM <span>2014- present</span></h5>
        <p class="experience-unit-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="experience-unit">
        <h3 class="experience-unit-title">Job Description</h3>
        <h5 class="experience-unit-place">Place goes here <span>year here</span></h5>
        <p class="experience-unit-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>

  <!-- Skills -->

  <section class="wht-section" id="skills">
    <div class="skills-title">
      <h3 class="section-title">.skills</h3>
    </div>

    <div class="skills-container">
      <div class="skills-unit skills-8">
        <h3>Scanning Electron Microscopy (SEM)</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-9">
        <h3>UV Photolithography</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-8">
        <h3>Silicon Wet Etching</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-7">
        <h3>Thermal Evaporation</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-6">
        <h3>E-beam Evaporation</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-7">
        <h3>Laser Cutting</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-8">
        <h3>Photoluminescence</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-9">
        <h3>IV Measurement</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-8">
        <h3>EQE Measurement</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-7">
        <h3>Ellipsometry</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-9">
        <h3>Relection Measurement</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-9">
        <h3>Transmission Measurement</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-7">
        <h3>Profilometer</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <div class="skills-unit skills-7">
        <h3>Four Point Probe</h3>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </section>

  <!-- Footer -->

  {% include footer.html %}

  <script src="assets/js/jquery-2.1.4.min.js"></script>
  <script src="assets/js/functions.js" type="text/javascript"></script>
  <script src="assets/js/functiononabout.js" type="text/javascript"></script>
</body>

</html>
