// -----------
// -- CONTACT --
// -----------

#contact-text{
  font-weight: 500;
  font-size: 24px;
}

.contact-mail{
  margin-top: 30px;
  padding: 15px 30px;
  background: #fff;
  color: $dark;
  border: 1px solid $dark;
}
