// ------------
// -- HEADER --
// ------------
.site-nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  z-index: 2;
  @include transition(all 300ms);
}

.site-nav.is-active {

}

.site-nav.is-scrolled{
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.05);
}

.navigation {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 5;
}

.site-logo {
  position: relative;
  opacity: 1;
  cursor: pointer;
  @include transition(all 300ms);

  img {
    @include size(30px);
    float: left;
  }

  h4 {
    float: left;
    margin: 0;
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &:hover {
    opacity: 0.6;
  }
}

.site-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}

.site-menu-item {
  position: relative;
  display: none;
  margin-right: 40px;
  color: $dark;
  font-weight: 500;
  @include transition(all 300ms);

  &::after {
    content: '';
    @include position(absolute, null 0 -5px 0);
    @include size(0 3px);
    background: $dark;
    @include transition(all 300ms);
  }

  &:hover {
    color: $dark;

    &::after {
      width: 100%;
    }
  }
}

.site-menu-item.is-active {
  display: none;
}

.menu-icon {
  position: relative;
  @include size(35px);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    @include size(18px 3px);
    background: $dark;

    &::before,
    &::after {
      content: '';
      @include size(18px 3px);
      background: $dark;
      margin: 0 auto;

      //@include transition(all 300ms);
    }

    &::before {
      @include position(absolute, -6px 0 null 0);
    }

    &::after {
      @include position(absolute, null 0 -6px 0);
    }
  }

  span.is-active {
    background: #fff;

    &::before {
      transform: translateY(6px) rotate(45deg);
    }

    &::after {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  &:hover span::before {
    top: -7px;
  }

  &:hover span::after {
    bottom: -7px;
  }
}

.menu-close {
  display: none;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;

  &.is-active {
    display: block;
  }
}

.full-navigation {
  @include position(fixed, 0 0 null 0);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  padding-top: 70px;
  z-index: -3;
  opacity: 0;

  a {
    display: flex;
    color: $dark;
    position: relative;
  }

  h4 {
    position: relative;
    display: block;
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: max-content;
    @include transition(all 300ms);

    &::after {
      content: '';
      @include position(absolute, null 0 -5px 0);
      @include size(0 3px);
      background: $dark;
      @include transition(all 300ms);
    }
  }

  a {
    &:hover {
      & h4::after {
        width: 100%;
      }
    }
  }
}

.full-navigation.is-active {
  z-index: 1;
  opacity: 1;
}

.full-navigation-about,
.full-navigation-notes,
.full-navigation-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 50px;
  width: 100%;
}

.full-navigation-about {
  background: url(../img/about-bg.svg) no-repeat center;
  background-size: cover;
}

.full-navigation-notes {
  background: url(../img/notes-bg.svg) no-repeat center;
  background-size: cover;
}

.full-navigation-contact {
  background: #5b5b5b;

  span,
  h4 {
    color: #fff;
  }

  h4::after {
    background: #fff;
  }
}

@include media($pc) {
  .site-nav {
    height: 100px;
  }

  .navigation {
    padding: 0 10%;
  }

  .site-menu-item {
    display: block;
  }

  .full-navigation {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .full-navigation-about,
  .full-navigation-notes,
  .full-navigation-contact {
    padding: 0;
    align-items: center;
  }

  .full-navigation-about,
  .full-navigation-notes {
    flex-basis: 50%;
  }

  .full-navigation-contact {
    flex-basis: 100%;
  }
}


// ------------
// -- FOOTER --
// ------------

.site-footer{
  height: 200px;
  width: 100%;
  background: $foocolor;
}
